In [2]:
#--------------------------------------------------- 
#Tools: Excel, Python Pandas
    # Print a list of the 10 movies that received the most number of ratings, sorted by the number of ratings.
    #------------- Print a list of the number of ratings received by each genre.
    #--------------------------------- Print the oldest movie with a “5” rating.
    #---------------- Print a list of the genre of the top 10 most rated movies.
    #---------- Print the title of the movie that was rated the most by students
    #--- Print the list of movies that received the highest number of “5” rating
    # Print the list of zip codes corresponding to the highest number of users that rated movies.
    #------------- Find the most rated movie by users in the age group 20 to 25.
    #------------------ Print the list of movies that were rate after year 1960.
#------------------------------------------------------------------------- BONUS
# 1) Convert UnixTimeStamp in  timestamp column of u.data to human readable date

import pandas as pd;
import numpy as np;
from datetime import datetime;

path = "../data/"
r_movies = ["movie_id","movie_title","release_date","video_release_date","IMDb_URL","unknown","Action","Adventure","Animation","Children's","Comedy","Crime","Documentary","Drama","Fantasy","Film-Noir","Horror","Musical","Mystery","Romance","Sci-Fi","Thriller","War","Western"]
movies = pd.read_csv(path + 'u.item', sep='|', header=None, names=r_movies, encoding = "ISO-8859-1")
movies['release_date'] = pd.to_datetime(movies['release_date'])

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(path + 'u.data', delim_whitespace=True, header=None, names=r_cols, encoding = "ISO-8859-1")

r_users = ["user_id" , "age" , "gender" , "occupation" , "zip_code"]
users = pd.read_csv(path + 'u.user', encoding = "ISO-8859-1", sep='|', names=r_users)

In [27]:
movies_ratings = pd.merge(movies, ratings, on="movie_id")
movies_ratings['release_date'] = pd.to_datetime(movies_ratings['release_date'])
movies_ratings_users = pd.merge(movies_ratings, users, on="user_id")

print(movies_ratings_users.iloc[100:120])

     movie_id                             movie_title release_date  \
100       174          Raiders of the Lost Ark (1981)   1981-01-01
101       175                           Brazil (1985)   1985-01-01
102       176                           Aliens (1986)   1986-01-01
103       177  Good, The Bad and The Ugly, The (1966)   1966-01-01
104       178                     12 Angry Men (1957)   1957-01-01
105       179              Clockwork Orange, A (1971)   1971-01-01
106       180                   Apocalypse Now (1979)   1979-01-01
107       181               Return of the Jedi (1983)   1997-03-14
108       182                       GoodFellas (1990)   1990-01-01
109       183                            Alien (1979)   1979-01-01
110       184                 Army of Darkness (1993)   1993-01-01
111       185                           Psycho (1960)   1960-01-01
112       186              Blues Brothers, The (1980)   1980-01-01
113       187          Godfather: Part II, The (1974)   1974-01-01
114       191                          Amadeus (1984)   1984-01-01
115       192                      Raging Bull (1980)   1980-01-01
116       193                 Right Stuff, The (1983)   1983-01-01
117       194                       Sting, The (1973)   1973-01-01
118       195                  Terminator, The (1984)   1984-01-01
119       196               Dead Poets Society (1989)   1989-01-01

     video_release_date                                           IMDb_URL  \
100                 NaN  http://us.imdb.com/M/title-exact?Raiders%20of%...
101                 NaN   http://us.imdb.com/M/title-exact?Brazil%20(1985)
102                 NaN   http://us.imdb.com/M/title-exact?Aliens%20(1986)
103                 NaN  http://us.imdb.com/M/title-exact?Buono,%20il%2...
104                 NaN  http://us.imdb.com/M/title-exact?12%20Angry%20...
105                 NaN  http://us.imdb.com/M/title-exact?Clockwork%20O...
106                 NaN  http://us.imdb.com/M/title-exact?Apocalypse%20...
107                 NaN  http://us.imdb.com/M/title-exact?Return%20of%2...
108                 NaN  http://us.imdb.com/M/title-exact?GoodFellas%20...
109                 NaN    http://us.imdb.com/M/title-exact?Alien%20(1979)
110                 NaN  http://us.imdb.com/M/title-exact?Army%20of%20D...
111                 NaN   http://us.imdb.com/M/title-exact?Psycho%20(1960)
112                 NaN  http://us.imdb.com/M/title-exact?Blues%20Broth...
113                 NaN  http://us.imdb.com/M/title-exact?Godfather:%20...
114                 NaN  http://us.imdb.com/M/title-exact?Amadeus%20(1984)
115                 NaN  http://us.imdb.com/M/title-exact?Raging%20Bull...
116                 NaN  http://us.imdb.com/M/title-exact?Right%20Stuff...
117                 NaN  http://us.imdb.com/M/title-exact?Sting,%20The%...
118                 NaN  http://us.imdb.com/M/title-exact?Terminator,%2...
119                 NaN  http://us.imdb.com/M/title-exact?Dead%20Poets%...

     unknown  Action  Adventure  Animation  Children's  ...  Thriller  War  \
100        0       1          1          0           0  ...         0    0
101        0       0          0          0           0  ...         0    0
102        0       1          0          0           0  ...         1    1
103        0       1          0          0           0  ...         0    0
104        0       0          0          0           0  ...         0    0
105        0       0          0          0           0  ...         0    0
106        0       0          0          0           0  ...         0    1
107        0       1          1          0           0  ...         0    1
108        0       0          0          0           0  ...         0    0
109        0       1          0          0           0  ...         1    0
110        0       1          1          0           0  ...         0    0
111        0       0          0          0           0  ...         1    0
112        0       1          0          0           0  ...         0    0
113        0       1          0          0           0  ...         0    0
114        0       0          0          0           0  ...         0    0
115        0       0          0          0           0  ...         0    0
116        0       0          0          0           0  ...         0    0
117        0       0          0          0           0  ...         0    0
118        0       1          0          0           0  ...         1    0
119        0       0          0          0           0  ...         0    0

     Western  user_id  rating  unix_timestamp  age  gender  occupation  \
100        0      308       4       887736696   60       M     retired
101        0      308       5       887736999   60       M     retired
102        0      308       4       887736696   60       M     retired
103        1      308       5       887738570   60       M     retired
104        0      308       4       887737719   60       M     retired
105        0      308       4       887736584   60       M     retired
106        0      308       5       887737997   60       M     retired
107        0      308       4       887739095   60       M     retired
108        0      308       5       887737194   60       M     retired
109        0      308       4       887736695   60       M     retired
110        0      308       4       887738847   60       M     retired
111        0      308       4       887736925   60       M     retired
112        0      308       4       887738152   60       M     retired
113        0      308       5       887738760   60       M     retired
114        0      308       4       887736797   60       M     retired
115        0      308       5       887736696   60       M     retired
116        0      308       3       887737837   60       M     retired
117        0      308       5       887739257   60       M     retired
118        0      308       5       887738619   60       M     retired
119        0      308       3       887739951   60       M     retired

     zip_code
100     95076
101     95076
102     95076
103     95076
104     95076
105     95076
106     95076
107     95076
108     95076
109     95076
110     95076
111     95076
112     95076
113     95076
114     95076
115     95076
116     95076
117     95076
118     95076
119     95076

[20 rows x 31 columns]

In [12]:
# 1) Print a list of the 10 movies that received the most number of ratings.
# (first try) most_rated_movies = movies_ratings.groupby(["movie_id", "movie_title"])[["rating"]].count()
most_rated_movies = movies_ratings_users["movie_title"].value_counts(sort=True)

print(most_rated_movies[:10])

Star Wars (1977)                 583
Contact (1997)                   509
Fargo (1996)                     508
Return of the Jedi (1983)        507
Liar Liar (1997)                 485
English Patient, The (1996)      481
Scream (1996)                    478
Toy Story (1995)                 452
Air Force One (1997)             431
Independence Day (ID4) (1996)    429
Name: movie_title, dtype: int64

In [41]:
# 2) Print a list of the 10 movies that received the most number of ratings, sorted by the number of ratings
print(most_rated_movies.sort_values('rating', ascending=False).head(10))

                                        rating
movie_id movie_title
50       Star Wars (1977)                  583
258      Contact (1997)                    509
100      Fargo (1996)                      508
181      Return of the Jedi (1983)         507
294      Liar Liar (1997)                  485
286      English Patient, The (1996)       481
288      Scream (1996)                     478
1        Toy Story (1995)                  452
300      Air Force One (1997)              431
121      Independence Day (ID4) (1996)     429

In [44]:
# 3) Print a list of the number of ratings received by each genre.
ratings = movies_ratings.loc[:,"Action":"Western"].sum(axis=0).sort_values(ascending=False)
print(ratings)

Drama          39895
Comedy         29832
Action         25589
Thriller       21872
Romance        19461
Adventure      13753
Sci-Fi         12730
War             9398
Crime           8055
Children's      7182
Horror          5317
Mystery         5245
Musical         4954
Animation       3605
Western         1854
Film-Noir       1733
Fantasy         1352
Documentary      758
dtype: int64

In [80]:
# 4) Print the oldest movie with a “5” rating.
small_df = movies_ratings[["movie_id", "movie_title", "rating", "release_date"]]

print(small_df[(small_df["release_date"] == small_df["release_date"].min()) & (small_df["rating"] == 5)][:1])

       movie_id                                        movie_title  rating  \
77936       675  Nosferatu (Nosferatu, eine Symphonie des Graue...       5

      release_date
77936   1922-01-01

In [39]:
# 5) Print a list of the genre of the top 10 most rated movies.
# df["category"] = df.idxmax(axis=1)
movies_ratings_users["genres"] = movies_ratings_users.loc[:,"Action":"Western"].idxmax(axis=1)
print(movies_ratings_users["genres"].head(10))

0     Animation
1        Action
2         Crime
3         Drama
4    Children's
5         Drama
6         Crime
7         Crime
8         Drama
9        Action
Name: genres, dtype: object

In [28]:
# 6) Print the title of the movie that was rated the most by students
print(movies_ratings_users[movies_ratings_users["occupation"] == "student"]["movie_title"].value_counts(sort=True)[:10])

Scream (1996)                    137
Star Wars (1977)                 132
Return of the Jedi (1983)        121
Contact (1997)                   117
Liar Liar (1997)                 117
Independence Day (ID4) (1996)    110
Toy Story (1995)                 105
Twelve Monkeys (1995)            105
Chasing Amy (1997)               102
Rock, The (1996)                  99
Name: movie_title, dtype: int64

In [20]:
# 7) Print the list of movies that received the highest number of “5” rating
print(movies_ratings[movies_ratings["rating"] == 5]["movie_title"].value_counts(sort=True)[:10])

Star Wars (1977)                    325
Fargo (1996)                        227
Godfather, The (1972)               214
Raiders of the Lost Ark (1981)      202
Pulp Fiction (1994)                 188
Schindler's List (1993)             186
Silence of the Lambs, The (1991)    181
Titanic (1997)                      179
Empire Strikes Back, The (1980)     172
Return of the Jedi (1983)           171
Name: movie_title, dtype: int64

In [21]:
# 8) Print the list of zip codes corresponding to the highest number of users that rated movies.
print(users["zip_code"].value_counts(sort=True)[:10])

55414    9
55105    6
20009    5
10003    5
55337    5
55454    4
27514    4
55408    4
02215    3
61801    3
Name: zip_code, dtype: int64

In [128]:
# 9) Find the most rated movie by users in the age group 20 to 25.
print(movies_ratings_users[(movies_ratings_users["age"] >= 20) & (movies_ratings_users["age"] <= 25)]["movie_title"].value_counts(sort=True)[:1])

Scream (1996)    130
Name: movie_title, dtype: int64

In [122]:
# 10) Print the list of movies that were rate after year 1960.
date_cutoff = datetime(1960,1,1)
# print(movies_ratings_users.info())
print(movies_ratings_users[movies_ratings_users["release_date"] > date_cutoff].head(5))

   movie_id            movie_title release_date  video_release_date  \
0         1       Toy Story (1995)   1995-01-01                 NaN
1         4      Get Shorty (1995)   1995-01-01                 NaN
2         5         Copycat (1995)   1995-01-01                 NaN
3         7  Twelve Monkeys (1995)   1995-01-01                 NaN
4         8            Babe (1995)   1995-01-01                 NaN

                                            IMDb_URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
2  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0
3  http://us.imdb.com/M/title-exact?Twelve%20Monk...        0       0
4     http://us.imdb.com/M/title-exact?Babe%20(1995)        0       0

   Adventure  Animation  Children's  ...  Thriller  War  Western  user_id  \
0          0          1           1  ...         0    0        0      308
1          0          0           0  ...         0    0        0      308
2          0          0           0  ...         1    0        0      308
3          0          0           0  ...         0    0        0      308
4          0          0           1  ...         0    0        0      308

   rating  unix_timestamp  age  gender  occupation  zip_code
0       4       887736532   60       M     retired     95076
1       5       887737890   60       M     retired     95076
2       4       887739608   60       M     retired     95076
3       4       887738847   60       M     retired     95076
4       5       887736696   60       M     retired     95076

[5 rows x 31 columns]